# Python
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
*.egg-info/
venv/
.venv/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
tfplan
infra/build/
terraform.tfvars

# Editors / OS
.idea/
.vscode/
*.swp
.DS_Store
